body
{
    margin-left: 10mm;
    margin-top: 5mm;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 8px
}


.intro {    
    column-count: 2;
    column-gap: 40px;
    text-align: justify;
    height: 315px;
    width: 490px;
}

.container{
    width: 500px
}

h1{
    margin-left: 12mm;
}

.cPage{
    float: right;
}


li {
    margin-bottom: 1.5mm;
    list-style-position: outside;
    padding-left: 3mm;
}

.nostyle ul > li {
    list-style-type: none;
}

li.nostyle {
    list-style-type: none;
}

.scBlock{
    height: 285px
}

.pageContent {
    float: right;
    text-align: left;
    margin-right: 1cm;
    width: 350px;
}

.pageContent.nostyle{
    width: 370px;
}

.fcBlock{
    clear: both;
    margin-left: 22mm
}

#elisaPhoto{
    width: 198px;
    margin-left: 3.5mm;
}
#ericPhoto{

    width: 225px;
}